<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title rocket game
	link(rel="stylesheet", href="css/main.css")
body
	#stage
		#score.sprite.score 00000000
		#player.sprite.player
	script(src="https://cdnjs.cloudflare.com/ajax/libs/soundmanager2/2.97a.20150601/script/soundmanager2-jsmin.js")
	script(src="js/jquery-3.1.1.min.js")
	script(src="js/main.js")
	